<div class="row">
    <div class="col-md-12">
        <form>
            <div class="row">
                <div class="col-md-5 form-group">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" id="name">                
                </div>
                <div class="col-md-2 form-group">
                    <label for="amount">Amount</label>
                    <input type="number" class="form-control" id="amount" min="0" max="100">
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <button class="btn btn-success" type="submit"><i class="fa fa-plus mr-1" aria-hidden="true"></i>
                        Add</button>
                    <button class="btn btn-danger mx-2"><i class="fa fa-trash mr-1" aria-hidden="true"></i>
                        Delete</button>
                    <button class="btn btn-secondary" type="reset"><i class="fa fa-undo mr-1" aria-hidden="true"></i>
                        Clear</button>
                </div>
            </div>                     
        </form>
    </div>
</div>