<div class="row">
    <div class="col-md-12">
        <form>
            <div class="row">
                <div class="col-md-5 form-group">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" id="name">
                </div>
                <div class="col-md-2 form-group">
                    <label for="amount">Amount</label>
                    <input type="number" class="form-control" id="amount" min="0" max="100">
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <button class="btn btn-light" type="submit" title="Add Ingredient">
                        <img src="assets/add-to-cart.png" alt="Add Ingredient" class="img-responsive">
                    </button>
                    <button class="btn btn-light mx-2" title="Delete Ingredient">
                        <img src="assets/trash.png" alt="Delete Ingredient" class="img-responsive">
                    </button>
                    <button class="btn btn-light" type="reset" title="Clear Form">
                        <img src="assets/undo.png" alt="Clear Form" class="img-responsive">
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>