<div class="row">
    <div class="col-md-12 d-flex justify-content-center">
        <img src="{{ recipe.imgPath }}" alt="{{ recipe.name }}" class="img-responsive recipe-photo">
    </div>
</div>
<div class="row">
    <div class="col-md-12 d-flex justify-content-center">
        <h1>{{ recipe.name }}</h1>
    </div>
</div>
<div class="row">
    <div class="col-md-12 d-flex justify-content-center">
        <div class="dropdown">
            <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Manage {{ recipe.name }}
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#"><img src="assets/add-to-cart.png" alt="Add" class="img-responsive mr-1">
                    Add to Shopping List</a>
                <a class="dropdown-item" href="#"><img src="assets/pencil.png" alt="Edit" class="img-responsive mr-1">
                    Edit {{ recipe.name }}</a>
                <a class="dropdown-item" href="#"><img src="assets/trash.png" alt="Delete" class="img-responsive mr-1">
                    Delete {{ recipe.name }}</a>
            </div>
        </div>
    </div>
    <div class="col-md-12 d-flex justify-content-center">{{recipe.description}}</div>
    <div class="col-md-12 d-flex justify-content-center">Ingredients</div>
</div>